#!/usr/bin/env bash

function phpversion() {
    version=$(php --version | head -n 1 | cut -d " " -f 2 | cut -d "." -f 1,2)
    echo $version
}

function phprestart() {
    currentVersion=$(phpversion)
    brew services restart "php@${currentVersion}"
    valet restart
}

# Switch PHP versions
function phpv() {
    echo "stopping valet"
    valet stop

    echo "stopping all php services"
    brew services list | awk '{print $1}' | grep php | while read line
    do
        brew services stop "$line"
    done

    echo "unlinking all php version"
    brew unlink php@7.3 php@7.4  # php@7.1 php@7.2 php@5.6 php@7.0

    echo "link $1"
    brew link --force --overwrite $1

    echo "start $1"
    brew services start $1

    echo "install composer packages"
    composer global update
    cgr update

    echo "installing valet"
    valet install
}

# alias php56="phpv php@5.6"
# alias php70="phpv php@7.0"
alias php71="phpv php@7.1"
alias php72="phpv php@7.2"
alias php73="phpv php@7.3"
alias php74="phpv php@7.4"

# Guess email for git user
function email-guess() {
    GREEN="\033[32m"
    NOCOLOR="\033[0m"

    remote=`git remote -v | awk '/\(push\)$/ {print $2}'`
    email=mail@tomdgm.ch # default

    if [[ $remote == *github.com:teamnovu* ]]; then
        email=diggelmann@novu.ch
    fi
    if [[ $remote == *github.com:insurando* ]]; then
        email=diggelmann@novu.ch
    fi
    if [[ $remote == *github.com:nmbrz* ]]; then
        email=diggelmann@novu.ch
    fi

    echo -e "${GREEN}Configuring user.email as $email${NOCOLOR}"
    git config user.email $email
}

# Delete unused git branches
function groot() {
    git branch --merged | grep -v 'master' | grep -v 'develop' | grep -v '*' | xargs git branch -d;
}
